* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  /* font-family: "Noto Sans KR"; */
  background-color: #000423;
  color: white;
  padding: 24px;
}

nav div {
  font-size: 20px;
}

.btns > button {
  margin: 0px 4px;
  cursor: pointer;
  height: 32px;
  padding: 6px;
  background-color: white;
  border-radius: 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.ques-callchat {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  border-right: 1px solid rgb(202, 202, 202);
  height: 100%;
  position: relative;
  overflow-y: auto;
}

.question {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(202, 202, 202);
  padding: 24px;
  line-height: 24px;
}

.call-chat {
  display: flex;
  flex-direction: column;
  /* padding: 24px; */
  flex: 1 1 0;
}

#msgSend-myStream {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#msg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 0;
  margin-bottom: 8px;
}

#myStream {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 0;
  margin-bottom: 8px;
}

#msg > input {
  /* width: 320px; */
  display: flex;
  /* flex-direction: row; */
  /* flex: auto; */
}

#chatting > li {
  /* background-color: rgb(202, 202, 202); */
}

#myStream > button,
#msg > button {
  width: 60px;
}

.ide-result {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.ide {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

.result-callChat {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  padding: 12px 24px;
}

.result {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}

a {
  color: #00b7ff;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

div {
  font-size: 14px;
}

.hidden {
  display: none;
}
